@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

html, body {
  width: 100%;
  height: 100%;
  background: #070f17;
}

.light_glow{
  font-family: 'Unica One', cursive;
  font-size: 5rem;
  color: white;
  padding-left: 80px;
  padding-top: 80px;
  text-shadow:
              1px 1px 0px gold,
              -3px -0 25px red,
              3px 0px 3px white,
              0px 0px 15px white,
              15px 10px 10px black,
              0 0 40px magenta,
              0 0 40px purple,
              0 0 60px magenta,
              0 0 80px orangered,
              0 0 80px magenta,
              0 0 100px orangered,
              0 0 150px orangered;
}

.glow{
      font-family: 'Unica One', cursive;
      font-size: 5rem;
      line-height: 1em;
      color: white;
      padding-top: 40px;
      padding-left: 80px;
      text-shadow:
                  1px 1px 0px gold,
                  -3px -0 25px red,
                  3px 0px 3px white,
                  0px 0px 15px white,
                  15px 10px 10px black,
                  0 0 40px magenta,
                  0 0 40px purple,
                  0 0 60px magenta,
                  0 0 80px orangered,
                  0 0 80px magenta,
                  0 0 100px orangered,
                  0 0 150px orangered;
}

.secondary_text{
  font-family: 'Unica One', cursive;
  font-size: 2rem;
  color: white;
  padding-left: 16rem;
  padding-top: 3rem;
}

.tertiary_text{
  font-family: 'Unica One', cursive;
  font-size: 2rem;
  color: white;
  padding-left: 23rem;
  padding-top: 1rem;
}

.rectangle {
  height: 8px;
  width: 20rem;
  /* position: absolute; */
  margin-left: 257px;
  margin-top: -10px;
  background-color: #FF2D92;
  z-index:1;
}

.rectangle:after {
  content: "";
  z-index:0;
  /* position: absolute; */
  left: 0px;
  width: 0;
  height: 0;
}

.sidenav {
  height: 100%;
  width: 5rem;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #070f17;
  border-left: 1px solid #FF2D92;
  overflow-x: hidden;
  padding-top: 20px;
  }
